body{
    background-color: rgb(37, 37, 37);
    color:rgb(0, 0, 0);
}
div{
    display: block;
    border: white 3px solid;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: justify;
}
a{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    color: bisque;
    width: 10rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
a:hover{
    background-color: blue;
}
#contenidos_1{
    background-color: red;
}
#contenidos_2{
    background-color: rgb(255, 230, 0);
}
#contenidos_3{
    background-color: rgb(14, 200, 7);
}
#regresar{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 5rem;
    border: none; 
  }
  #regresar a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    border: rgb(0, 0, 0) 3px solid;
    color:#ffffff;
    padding: 5px;
    background-color: black;
  }
  #regresar a:hover{
    color:rgb(255, 255, 255);
    background-color: rgba(199, 21, 51, 0.952);
    border: rgb(199, 21, 51) 3px solid;
  }